version: "3.2"
services:

  api:
    build: .
    ports:
      - "$API_HOST_PORT:8081"
    environment:
      - EGO_SERVER_PORT=8081
      - EGO_DB_HOST=postgres
      - EGO_DB_PORT=5432
      - EGO_DB=ego
      - EGO_DB_USER=postgres
      - EGO_DB_PASS=password
      - EGO_SERVER_GOOGLE_CLIENT_IDS=123456
      - EGO_SERVER_FACEBOOK_APP_ID=123456
      - EGO_SERVER_FACEBOOK_SECRET=123456
      - EGO_ACTIVE_PROFILES=demo
    depends_on:
      - postgres

  postgres:
    restart: always
    image: postgres:9.5
    environment:
      - POSTGRES_DB=ego
      - POSTGRES_PASSWORD=password
    volumes:
      - ./src/main/resources/schemas/01-psql-schema.sql:/docker-entrypoint-initdb.d/init.sql
    expose:
      - "5432"
