server:
  port: 8081

jwt:
  secret: testsecretisalsoasecret

# security
auth:
  token:
    prefix:

# Datasource
spring.datasource:
  driver-class-name: org.postgresql.Driver
  url: jdbc:postgresql://localhost:5432/ego?stringtype=unspecified

  username: postgres
  password:
  max-active: 10
  max-idle: 1
  min-idle: 1

# Facebook Connection Details
facebook:
  client:
    id: 140524976574963
    secret: 2439abe7ae008bda7ab5cfdf706b4d66
    accessTokenUri: https://graph.facebook.com/oauth/access_token
    tokenValidateUri: https://graph.facebook.com/debug_token
    timeout:
      connect: 5000
      read: 5000
  resource:
    userInfoUri: https://graph.facebook.com/me

# Google Connection Details
google:
  client:
    Ids: 814606937527-v7tr5dfqegjijicq3jeu5arv5tcl4ks0.apps.googleusercontent.com,814606937527-kk7ooglk6pj2tvpn7ldip6g3b74f8o72.apps.googleusercontent.com,144611473365-k1aarg8qs6rlh67r3t7dssi1e34b6061.apps.googleusercontent.com

# Logging settings.
logging:
  console:
    enabled: true
    threshold: ALL
  loggers:
    "org.skife.jdbi.v2": TRACE

---
###############################################################################
# Profile - "secure"
###############################################################################
spring:
  profiles: auth
  profiles.include: secure

# security
auth:
  token:
    prefix: Bearer

# Logging settings.
logging:
  console:
    enabled: true
    threshold: ALL
  loggers:
    "org.skife.jdbi.v2": TRACE

---
###############################################################################
# Profile - "demo"
###############################################################################
spring:
  profiles: demo

demo: true