server:
  port: 8081

jwt:
  secret: testsecretisalsoasecret
  duration: 86400000 #in milliseconds 86400000 = 1day, max = 2147483647

# security
auth:
  token:
    prefix:

# Datasource
spring.datasource:
  driver-class-name: org.postgresql.Driver
  url: jdbc:postgresql://localhost:5432/ego?stringtype=unspecified

  username: postgres
  password:
  max-active: 10
  max-idle: 1
  min-idle: 1

# set this flag in Spring 2.0 because of this open issue: https://hibernate.atlassian.net/browse/HHH-12368
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation: true

# Facebook Connection Details
facebook:
  client:
    id: 140524976574963
    secret: 2439abe7ae008bda7ab5cfdf706b4d66
    accessTokenUri: https://graph.facebook.com/oauth/access_token
    tokenValidateUri: https://graph.facebook.com/debug_token
    timeout:
      connect: 5000
      read: 5000
  resource:
    userInfoUri: https://graph.facebook.com/me

# Google Connection Details
google:
  client:
    Ids: 808545688838-99s198l9lhl2hsvkpo5u91f3sflegemp.apps.googleusercontent.com,911372380614-7m296bg4eadc7m43e2mm6fs1a0ggkke1.apps.googleusercontent.com,814606937527-v7tr5dfqegjijicq3jeu5arv5tcl4ks0.apps.googleusercontent.com,814606937527-kk7ooglk6pj2tvpn7ldip6g3b74f8o72.apps.googleusercontent.com

# Logging settings.
logging:
  console:
    enabled: true
    threshold: ALL
  loggers:
    "org.skife.jdbi.v2": TRACE

token:
  key-store: src/main/resources/ego-jwt.jks
  key-alias: ego-jwt
  keystore-password: eG0tistic@lly

---
###############################################################################
# Profile - "auth"
###############################################################################
spring:
  profiles: auth
  profiles.include: secure

# security
auth:
  token:
    prefix: Bearer

# Logging settings.
logging:
  console:
    enabled: true
    threshold: ALL
  loggers:
    "org.skife.jdbi.v2": TRACE

---
###############################################################################
# Profile - "secure"
###############################################################################
spring:
  profiles: demo

# demo flag
demo: true